@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change-pp {
    position: absolute;
    margin-top: 6rem;
    width: 128px;
    border-radius: 0px 0px 8px 8px;
  }

  .btn {
    background-color: white;
  }

  .logo {
    font-size: 2rem;
    letter-spacing: -0.06rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nanum Pen Script', cursive;
  }
  

  body {
    margin: 0;
    font-family: 'Poppins', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  @variants hover {
  .btn-hov {
    background-color: #dddddd;
  }

  a:hover {
    border-bottom: 2px solid #f54f4f;
    text-decoration: none;
    color: #f54f4f;
  }
}
}